@page "/AnimalVoter"

<h3>Vote for yout favourite Animal</h3>
<br/>
<p>
	Enhances the reusable Blazor component by allowing it to handle both click events 
	and dynamic string input, improving flexibility and reusability.
</p>
<br/>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<ButtonAndImage title="Cats" 
			buttonLabel="Vote For Cats" 
			imageName="Kitten" 
			OnGenericClickWithType="IncrementVote">
			</ButtonAndImage>
			<p>Votes: @kittenVotes</p>
			<br/>
		</div>
		<div class="col-md-4">
			<ButtonAndImage title="Dogs" 
			buttonLabel="Vote For Dogs" 
			imageName="Puppy" 
			OnGenericClickWithType="IncrementVote">
			</ButtonAndImage>
			<p>Votes: @dogVotes</p>
			<br/>
		</div>
		<div class="col-md-4">
			<ButtonAndImage title="Sloths" 
			buttonLabel="Vote For Sloths" 
			imageName="sloth" 
			OnGenericClickWithType="IncrementVote">
			</ButtonAndImage>
			<p>Votes: @slothVotes</p>
			<br/>
		</div>
		<div class="col-md-6">
			<ButtonAndImage
			title="@winnerTitle"
			buttonLabel="Show Winner"
			imageName="@winnerImage"
			OnGenericClick="GetTheWinner">
			</ButtonAndImage>
			<br />
		</div>
	</div>

</div>


@code {

	public int kittenVotes; 
	public int dogVotes;
	public int slothVotes;
	public string message; 
	public string winnerTitle = "No Winner Yet";
	public string winnerImage = "default";

	protected override void OnInitialized()
	{
		kittenVotes = 0;
		dogVotes = 0;
		slothVotes = 0;
		message = "";
	}

	protected void IncrementVote(string animal)
	{
		switch (animal.ToLower())
		{
			case "cats":
				kittenVotes++;
				message = "You voted for cats!";
				break; 
			case "dogs":
				dogVotes++;
				message = "You voted for dogs!";
				break; 
			case "sloths":
				slothVotes++;
				message = "You voted for sloths!";
				break; 

		}
		StateHasChanged();
	}
	protected void GetTheWinner()
	{
		var maxVotes = new[] { kittenVotes, dogVotes, slothVotes }.Max();
		if (kittenVotes==maxVotes)
		{
			winnerTitle = "Cats";
			winnerImage = "Kitten";
		}
		else if (dogVotes == maxVotes) 
		{
			winnerTitle = "Dogs";
			winnerImage = "Puppy";
		}
		else if (slothVotes == maxVotes) 
		{
			winnerTitle = "Sloths";
			winnerImage = "sloth";
		}
		else 
		{
			winnerTitle = "No Winner Yet";
			winnerImage = "default";
		}
		StateHasChanged();
	}

}
